---

Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 79
UseTab: Never

# alignment
AlignConsecutiveDeclarations:
  Enabled: true
BinPackArguments: false
BreakBeforeBinaryOperators: NonAssignment
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left

# misc
AlwaysBreakAfterReturnType: TopLevel
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
